# ===============================
# Global ignores (ALL projects)
# ===============================

node_modules/
.env
.env.*
.env.local

# Logs
logs/
*.log

# OS files
.DS_Store

# ===============================
# Next.js
# ===============================
.next/
out/

# ===============================
# Build folders
# ===============================
dist/
build/
